/*
* @Author: Administrator
* @Date:   2018-12-04 22:38:10
* @Last Modified by:   Administrator
* @Last Modified time: 2018-12-04 22:38:28
*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
ul,li{
	list-style: none;
}
a{
	text-decoration: none;
	color: #000;
}
i{
	font-style: normal;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}